body {
    background-color: oldlace;
 }

 h1 {
     color: black;
     text-align: center;
     font-family: monospace;
 }

 p {
     font-family: monospace;
     font-size: 20px;
 }

 #first {
     text-align: left;
     color: red;
 }

 #second {
     text-align: left;
     color: orange;
 }

 #third {
    text-align: left;
    color: yellow;
}

#fourth {
    text-align: left;
    color: green;
}

#fifth {
    text-align: left;
    color: blue;
}

#sixth {
    text-align: left;
    color: indigo;
}

#seventh {
    text-align: left;
    color: violet;
}

#eighth {
    text-align: left;
    color: pink;
}

#ninth {
    text-align: center;
    color: grey;
}